{% extends 'admins/adminLayout.html' %}
{% load static%}
{%load bootstrap%}



{% block title %}
    <title> Add Service | Admin Gharelu</title>
{% endblock title%}

{% block content %}

<h1 >Add Service</h1>


<div class="container">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center"></h1>

            {% include 'message.html' %}

            <div class="card py-2 px-2">

                <form class="form registration_form" action="" method="POST">

                    {% csrf_token %}
                    {{ serviceForm | bootstrap_horizontal }}
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>

            </div>

        </div>

    </div>

</div>

<script>

    var form_fields = document.getElementsByTagName('input')

    form_fields[1].placeholder = 'Enter username';

    form_fields[2].placeholder = 'Enter email';

    form_fields[3].placeholder = 'Enter password';

    form_fields[4].placeholder = 'Enter the same password';



    for (var field in form_fields){

    form_fields[field].className += ' form-control my-2'

    }

</script>




{% endblock content %}
