{% extends 'admins/adminLayout.html' %}
{% load static%}
{%load bootstrap%}



{% block title %}

    <title> Show Services | Gharelu Admin</title>

{% endblock title%}

{% block content %}

<h1 >All Services</h1>
{% include 'message.html' %}


    <a href="{%url 'addservice'%}" class="btn btn-success btn-sm mx-auto">Add Service</a>


<div class="container-fluid">
    <div class="row justify-content-around">

        {% for i in services %}
        <div class="card col-md-3 m-2">
            <div class="card-body">
                <h1 class="card-title">
                    {{ i.service_name }}
                </h1>
                <p class="card-text">
                    {{ i.service_category }}
                </p>
            </div>
            <div class="card-footer">
                <a href="{% url 'updateservice' i.id %}" class="btn btn-success">Edit</a>
                <a href="{% url 'deleteservice' i.id %}" class="btn btn-danger" onclick="return confirm('Are you sure? Do you want to delete?')">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
