{% extends 'profLayout.html' %}
{% load static%}
{%load bootstrap%}

{% block title %}

    <title> My Services | Professional | Gharelu</title>

{% endblock title%}

{% block content %}

<h1 >My Services</h1>

{% include 'message.html' %}

    <a href="{%url 'profaddservice'%}" class="btn btn-success btn-sm mx-auto">Add Service</a>

<div class="container-fluid">
    <div class="row justify-content-around">

        {% for i in services %}
        <div class="card col-md-3 m-2">

                <img  class="card-img-top img-rounded" src="/{{i.service_user.profile.profile_pic}}" >
                        <div class="card-body">
                <h1 class="card-title">
                    {{ i.service_type.service_name }}
                </h1>
                <p class="card-text">
                    {{ i.service_type.service_category }}
                </p>
                <p class="card-text">
                    {{ i.service_location }}
                </p>
                Contact:
                            <p class="card-text">
                   {{ i.service_user.email }}
                </p>
                <p class="card-text">

                    {{ i.service_user.profile.firstname }} {{ i.service_user.profile.lastname }}

                </p>
                            <p class="card-text">

                    {{ i.service_user.profile.phone }}
                </p>


            </div>
            <div class="card-footer">
                <a href="" class="btn btn-success">Edit</a>
                <a href="" class="btn btn-danger" onclick="return confirm('Are you sure? Do you want to delete?')">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}
